* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    background-color: rgba(0,0,0,0.3);
}
body {
    font-family: Calibri, sans-serif;
    background-color: black;
    -ms-overflow-style:none;
}
::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
}

::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}
.nav {
    z-index: 3000;
}
.nav.fixed {
    position: fixed;
    left: 0;
    right: 0;
}
.nav a {
    font-size: 18px;
    color: white;
}
.nav a.active {
    color: #aee7fa;
    text-decoration: underline;
}
.background-wrap {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}
#video-bg-elem {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}
.content {
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    min-height: 69%;
    height: 69%;
    z-index: 1000;
    top: 30%;
}
.content div.text {
    color: #fff;
}
.content div.text h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 10px;
}
.content div.text p {
    letter-spacing: 3px;
    max-width: 70%;
    margin: 0 auto;
}
.content div.text p.center {
    text-align: center;
}
.tiny {
    font-size: 11px;
}
/* side menu */
#menu-toggle {
    background-color: #aee7fa;
    color: black;
    z-index: 3000;
    position:absolute;
    top: 10px;
    left: 20px;
    padding: 15px;
}
#wrapper {
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper {
    z-index: 2000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: black;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}
/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 70px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 5px;
    line-height: 30px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
}
.sidebar-nav li a:hover {
    transform: translateX(6px);
    -webkit-transform: translateX(6px);
    color: #aee7fa;
}
.sidebar-nav li a.active,
.sidebar-nav li a:focus {
    text-decoration: underline;
    color: #aee7fa;
}
@media(min-width:768px) {
    #wrapper.toggled {
        padding-left: 200px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 200px;
    }
}
@media(min-width:768px) {
    html {
        font-size: 16px;
    }
}
@media(min-width:992px) {
    html {
        font-size: 20px;
    }
}
@media(min-width:1200px) {
    html {
        font-size: 28px;
    }
}